body {
  margin:0;
}


.wrapper {
 background: url("BG.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  width: 400px;
  background: #8032E4;
 
  
}

.header a {
   text-decoration:none;
   font-weight: bold;
   font-size:26px;
   padding-top: 10px;
}

.reg {
   float: right;
   color: #8032E4;
   background:white;
}
.log {
   float: left;
   background: #8032E4;
   color: white;
}

.log, .reg {
   width: 50%;
   height: 100%;
   text-align: center;
}

form {
  padding: 20px;
}


input {
  padding: 5px 5px 5px 40px;
  margin: 10px;
  width: 80%;
  border: 2px solid rgb(204,204,204);
  
  

}

input:focus{
outline: 1px solid #b176ff;
}

#mail{
  background: url("Email.png") no-repeat 3px 1px;
  background-size: auto 90%;
}

#name{
  background: url("User.png") no-repeat 3px 1px;
  background-size: auto 90%;
}

#pass{
 background: url("Pass.png") no-repeat 3px 1px;
  background-size: auto 90%;
}

input[type="checkbox"]{
  width: auto;
  margin-right: 9px;
  
}

label {
  font-size: 15px;
}

button {
  padding: 7px 15px 7px 15px;
  margin-left: 3px;
  color: #8032E4;
  background:  rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  margin-top: 20px;
}


button:hover {
  transition: 3s;
background:#ebebeb;
}

input::placeholder {
color: white;
}

